*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  background-color: rgba(0,0,0,0.2);
  padding: 3px 3px ;
  letter-spacing: 1px;
  border-radius: 5px;
  
}
a:hover{
background-color: #000090;
color: white;
}
/* html{
    scroll-behavior: smooth;
    scroll-padding: 100%;
} */
/* ========================================================================CCC */
.contenedor{
  max-width: 1280px;
  margin: auto;
  height: calc(100vh - 10px);
  
 
  /* overflow-y: scroll; */ 
}

.completo{
  display: inline-block;
  background: linear-gradient(to left, rgb(0, 200, 0), white);
  border: 0.1rem solid gray;
  padding: 0 10px;
  border-radius: 2px;
  margin: 1px;
}

/* ========================================================================DDD */

.descripcion{
  /* background-color: rgb(0, 0, 0,0.5); */
  background: linear-gradient(to top, rgba(0, 0, 144,0.8), rgba(0, 0, 144,0.6), white,  rgba(0, 0, 144,0.6), rgba(0, 0, 144,0.8));
  border-radius: 4px ;
  width: 96%;
  padding: 5px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 2%;
  margin-top: 5px;
  font-weight: 900;
  letter-spacing: 5px;

}
.derecha{
  width: 40%;
  float: right;
 
  height: 100%;
  
 

}
/* ========================================================================EEE */



/* ========================================================================FFF */
footer{
    max-width: 1280px;
    height: 10px;
    background-color: #000090;
    margin: auto;
}
/* ========================================================================GGG */
.grid4{
   
  display: grid;
  /* grid-template-columns: 23% 23% 23% 23%; */
  grid-template-columns: 1fr 1fr ;
}
/* ========================================================================HHH */
header{
   /* position: relative;
  top: 0; */
   max-width: 1280px;
  
  margin: auto;
  height: 80px;
  background-color: #000090;
 

}
h1{
 
padding-left: 20px;
padding-top: 20px;
color: white;
}


/* ========================================================================III */

.izquierda{
    width: 60%;
    height: 100%;
    overflow-y: scroll;
}
.items{
  background-color: rgba(0, 0, 0,0.0);
  margin: 5px auto;
  /* width: 70%; */
  /* padding: 5px;  */
  text-align: center;
  /* cursor: pointer; */
}

.incompleto{
  display: inline-block;
  
  border: 0.1rem solid rgb(128, 128, 128, 0.7);
  padding: 0 10px;
  border-radius: 2px;
  margin: 1px;
  color:rgb(128, 128, 128, 0.7) ;
}

/* ========================================================================JJJ */

/* ========================================================================KKK */








/* ========================================================================MODAL COMPLETO */
img{
    width: 100%;
    cursor: pointer;
    padding: 5px;
    
    border-radius: 10px;
    
    transition: 0.3s;
}
img:hover {filter: saturate(200%);}

.z {
    display: none; /* oculto por defecto */
    position: fixed; /* permanece en lugar */
    z-index: 1; /* un nivel z arriba */
    padding-top: 0px; /* ubicacion de la caja */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* escrolear si es necesario */
   
    background-color:rgba(0,0,0,0.8); 
  }
  .modal{
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1100px;
    border-radius: 10px;
}
#caption {
    background-color:rgba(0,0,0,0.0); 
    margin-left: 40%;
    margin-top: 5px;
    display: inline-block;
    /* width: 80%; */
    /* max-width: 700px; */
    text-align: center;
    /* color: #ccc; */
    color: white;
    padding: 20px 5px;
    
    font-weight: bolder;

    /* height: 150px; */
  }
  /* Add Animation */
.modal, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/* ========================================================================OOO */
.obs{
  
  width: 90%;
  padding: 5px;
  /* text-align: center; */
  display: inline-block;
  position: relative;
  left: 5%;
}

/* ========================================================================TTT */
  .titulo{
    padding: 5px;
    background-color: black;
    color: white;
}
.tramos{
    width: 100%;
    border-bottom: 20px solid rgb(0, 0, 0,0);
    /* height: 100%; */  
}
.trabajos{
  background-color: rgba(0, 0, 0,0.8);
  color: white;
  width: 100%;
 
  padding: 5px;
  font-weight: bolder;
  letter-spacing: 1px;
  
  
  
}
.trabajosP{
  
 color: white;
 border: 1px solid white;
 border-radius: 3px;
 padding: 2px;
  display: inline-block;

 
}


